main{
    display: flex;
}

button{
    width: 100px;
    background-color: #A491D2;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    width: 350px;
    min-height: 100vh;
}    

.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.cajas{
    display: flex;
    width: 200px;
    height: 200px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}